a.nslide(href= newSlide.link)
    p.nslide__location= newSlide.local
    p.nslide__headline= newSlide.par
    p.nslide__datatime= newSlide.data
    p.nslide__content= newSlide.text
    p.nslide__from= newSlide.ltitle


//- -
//-     var newSlide = {
//-         link:'#',
//-         local:'Мировые',
//-         par:'Роль природных ресурсов в возникновении конфликтов',
//-         data:'10.04.2017',
//-         text:'Нехватка ресурсов стала одним из ключевых факторов, способствующих началу вооруженных конфликтов на территориях Ближнего ...',
//-         ltitle:'Источник: cyberleninka.ru'
//-     };
//- include ../modules/news-slide/module